{{d-button action='toggleDescription'
           icon='globe'
           translatedLabel=buttonLabel}}
{{#if showDescription}}
  <div class="description">
    <span>{{i18n 'civically.translate.description' missingCount=missingCount localeName=locale.name}}</span>
    {{cookedHelp}}
  </div>
{{/if}}
