@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.coming-soon {
  display: inline-block;
  position: relative;

  .popover {
    padding: 3px;
    border: 1px solid $primary-medium;
    color: $primary;
    background: $secondary;
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    z-index: 9999;
    padding: 0 5px;
  }
}

.coming-soon span.label {
  font-size: 11px;
  font-style: italic;
}

.body-page {
  max-width: initial;
  text-align: center;

  .static-main {
    max-width: 750px;
    text-align: left;
    display: inline-block;
  }

  .nav-pills {
    text-align: left;
    display: inline-block;
  }
}

.body-page ul li p {
  font-size: 1em;
}

.btn, .btn-flat, li>a, .add-event, .add-location, .election-status span, .select-box-kit-header {
  border-radius: 4px;
}

.d-header-icons .icon {
  border-radius: 4px 4px 0 0;
}

.static-footer-buttons {
  display: flex;
  justify-content: center;

  .btn {
    margin-right: 20px;
  }
}

.missing-translations-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 101;
}

.missing-translations {
  position: relative;
  background-color: $secondary;

  .btn {
    box-shadow: shadow("dropdown");
    background-color: rgba($danger, 0.3);

    &:hover {
      color: $primary;
    }
  }

  .description {
    position: absolute;
    bottom: 32px;
    right: 0;
    box-shadow: shadow("dropdown");
    border: 1px solid $primary-low;
    padding: 8px 12px;
    background-color: $secondary;
    width: 300px;
    max-width: 90vw;

    p {
      margin: 5px 0;
    }
  }

  mark {
    background-color: initial;
  }
}

.help-button {
  position: fixed;
  bottom: 60px;
  right: 60px;
  font-size: 1.7em;
  padding: 10px 18px;
  border-radius: 50%;
  box-shadow: shadow("card");
}

.people-image {
  height: 90px;
}

.place.set {
  position: relative;

  .people-image {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.user-main {
  position: relative;

  .paginated-topics-list, .user-stream, .user-table {
    margin-bottom: 120px;
  }

  .people-image {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}

.groups-page section {
  position: relative;

  .groups-header + * {
    margin-bottom: 130px;
  }

  .people-image {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.container.group {
  div.user-table {
    padding-bottom: 130px;
  }

  .people-image {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

/// Civically layout changes

body {
  background-color: #e6ecf0;

  &.admin-interface, &[class*="static-"], &.team-page, &.donate-page, &.landing {
    background-color: $secondary;

    section {
      margin-bottom: 30px;
    }

    &:not(.admin-interface) #main-outlet {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1.1px;

      .static-body {
        h2 {
          margin: 2em 0 0.5em 0;
          font-size: 1.3em;

          a {
            color: $primary;
          }

          &:first-of-type {
            margin-top: 0;
          }
        }

        p {
          &:first-of-type {
            margin: 0;
          }
          a {
            @extend .p-link;
          }
        }
      }
    }
  }
}

.main-content.has-sidebars div.container.list-container {
  border: none;
  background-color: initial;

  .discovery-title-composer .title-composer:not(.hide-input) {
    border-left: 1px solid $primary-low;
    border-right: 1px solid $primary-low;
    border-top: 1px solid $primary-low;
    border-radius: 4px 4px 0 0;
  }

  #list-area {
    .show-more.has-topics {
      position: initial;
      top: initial;
      padding-top: 10px;

      .alert {
        margin-bottom: 0;
      }
    }

    &> .contents {
      background-color: $secondary;
      border-left: 1px solid $primary-low;
      border-right: 1px solid $primary-low;

      .topic-list {
        margin: 0;

        &>tbody {
          border-top: 1px solid $primary-low;
        }
      }
    }

    &> .topic-list-bottom {
      margin: 0;
      background-color: $secondary;
      border-left: 1px solid $primary-low;
      border-right: 1px solid $primary-low;
      border-bottom: 1px solid $primary-low;
      border-radius: 0 0 4px 4px;
    }
  }
}

.main-content.topic.has-sidebars #topic-title .container div.title-wrapper {
  width: initial;

  .topic-category {
    margin-top: 0;
  }
}

.main-content.calendar {
  background-color: $secondary;
  padding: 10px 20px 20px 20px;

  .nav-dropdown {
    top: 40px;
  }
}

.main-content.place.set {
  background-color: $secondary;
}

section.user-main {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;

  .town-user-controls {
    min-height: initial;
    margin: 0;
  }
}

.search-container {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;

  #create-topic {
    display: none;
  }

  .bulk-select {
    margin-left: 0 !important;
  }
}

.container.badges, .container.show-badge {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;
}

.queued-posts {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;
}

span .admin-user-details-outlet .display-row {
  border-top: 1px solid $primary-low;
}

span .admin-user-details-outlet h1 + .display-row {
  border-top: none;
}

.user-info.user-team-info {
  display: flex;

  .user-detail {
    width: initial;
    padding-left: 20px;

    .name-line, .position, .linkedin {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }

    .position, .linkedin {
      margin-left: 3px;
      padding-left: 8px;
      border-left: 1px solid $primary;

      i {
        font-size: 23px;
        vertical-align: top;
      }
    }

    .name {
      color: $primary;
      font-weight: 800;
      margin: 0;
    }
  }
}

body.not-found {
  background: url('/plugins/civically-user/images/background.png') center / cover #FEFDF9 no-repeat;
}

.not-found-wrapper {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  background: $secondary;
  box-shadow: shadow('dropdown');
  border: $primary-low;
}

body.static-login .body-page {
  background: $secondary;
  border-radius: 4px;
  padding: 20px;

  .btn {
    margin-right: 15px;
  }
}

.container.password-reset {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 700px;
  font-size: 1.1487em;

  .col-image img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

// classes used in other plugins

.action-box {
  max-width: 800px;
  margin-bottom: 10px;
  line-height: 25px;
  border: 1px solid $tertiary;
  background-color: white;
  border-radius: 4px;

  .btn-success {
    background-color: $success;
    color: $secondary;
  }

  .explanation {
    padding: 20px;
  }

  .content {
    overflow: hidden;
  }
}

.main-content.editing .action-box {
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
}

a.p-link {
  background-image: linear-gradient(180deg,transparent 95%, $tertiary 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: $primary;
}

.p-emphasis {
  color: $tertiary
}

.p-text {
  text-align: left;

  &.title {
    font-size: 2.2rem;
    line-height: 60px;
  }

  &.subtitle {
    font-size: 1.8rem;
    line-height: 50px;
  }

  &.large {
    font-size: 1.7rem;
    line-height: 40px;
    margin-bottom: 20px;
  }

  &.medium {
    font-size: 1.4rem;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &.small {
    font-size: 1.2rem;
    line-height: 27px;
  }

  &.tiny {
    font-size: 1rem;
    line-height: 22px;
  }

  &.bold {
    font-weight: 800;
  }

  &.centered {
    text-align: center;
  }

  &.seperator {
    margin: 0 10px;
    font-size: 2em;
  }

  &.active {
    color: $success;
  }

  &.bronze {
    color: #cd7f32 !important;
  }

  &.silver {
    color: #c0c0c0 !important;
  }

  &.gold {
    color: rgb(231, 195, 0) !important;
  }

  .highlight {
    background-color: rgba($highlight, 0.4);
    font-weight: 500;
  }
}

.p-note {
  @extend .p-text;
  display: inline-block;
  line-height: initial;
  padding: 6px 10px;
  border: 1px solid $tertiary;
  border-radius: 4px;

  .btn {
    margin: 5px 0;
  }
}

.alert-bootstrap-mode {
  display: none;
}

.site-banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 21px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary-low;
  box-sizing: border-box;
  margin-bottom: 40px;
  position: relative;

  &:before {
    content:"";
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .banner-contents {
    background-color: $secondary;
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid $primary-low;
    border-radius: 4px;
    max-width: 650px;
    z-index: 1;
    text-align: center;

    .p-text {
      text-align: center;
    }

    .title {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
    }

    .subtitle {
      max-width: 500px;
      margin: 15px auto 0;
    }
  }

  &.show-cta {
    .banner-contents {
      .subtitle {
        margin-bottom: 20px;
      }
    }
  }

  .ribbon {
    top: -10px;
    right: -10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid $tertiary-low;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .ribbon span {
    position: absolute;
    display: block;
    width: 350px;
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: $secondary;
    border: 3px solid $tertiary;
    font-weight: 700;
    color: $tertiary;
    box-sizing: border-box;
    text-align: center;
    left: -25px;
    top: 70px;
    transform: rotate(45deg)
  }

  .ribbon::before {
    top: 0;
    left: 0;
  }

  .ribbon::after {
    bottom: 0;
    right: 0;
  }
}

/// beta (invite-only) css

body.invite-only {
  button.share {
    display: none;
  }
  button.invite-topic {
    display: none;
  }
  .user-main .nav-pills li:nth-child(5) {
    display: none;
  }
}
