.coming-soon {
  display: inline-block;
  position: relative;

  .popover {
    padding: 3px;
    border: 1px solid $primary-medium;
    color: $primary;
    background: $secondary;
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    z-index: 9999;
    padding: 0 5px;
  }
}

.coming-soon span.label {
  font-size: 11px;
  font-style: italic;
}

.about.admins {
  margin-top: 30px;
}

.body-page {
  margin-bottom: 60px;
}

.body-page ul li p {
  font-size: 1em;
}

.btn, .btn-flat, li>a, .add-event, .add-location, .election-status span, .select-box-kit-header {
  border-radius: 4px;
}

.d-header-icons .icon {
  border-radius: 4px 4px 0 0;
}

.static-image {
  position: fixed;
  right: calc(50% - 550px);
  bottom: 100px;
}

.missing-translations-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.missing-translations {
  position: relative;

  .btn {
    box-shadow: shadow("dropdown");
  }

  .description {
    position: absolute;
    bottom: 32px;
    right: 0;
    box-shadow: shadow("dropdown");
    border: 1px solid $primary-low;
    padding: 8px 12px;
    background-color: $secondary;
    width: 300px;
    max-width: 90vw;

    p {
      margin: 5px 0;
    }
  }

  mark {
    background-color: initial;
  }
}
