.coming-soon {
  display: inline-block;
  position: relative;

  .popover {
    padding: 3px;
    border: 1px solid $primary-medium;
    color: $primary;
    background: $secondary;
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    z-index: 9999;
    padding: 0 5px;
  }
}

.coming-soon span.label {
  font-size: 11px;
  font-style: italic;
}

.about.admins {
  margin-top: 30px;
}

.body-page {
  margin-bottom: 60px;
}

.body-page ul li p {
  font-size: 1em;
}

.btn, .btn-flat, li>a, .add-event, .add-location, .election-status span, .select-box-kit-header {
  border-radius: 4px;
}

.d-header-icons .icon {
  border-radius: 4px 4px 0 0;
}

.static-image {
  position: fixed;
  right: calc(50% - 550px);
  bottom: 100px;
}

.missing-translations-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

.missing-translations {
  position: relative;

  .btn {
    box-shadow: shadow("dropdown");
  }

  .description {
    position: absolute;
    bottom: 32px;
    right: 0;
    box-shadow: shadow("dropdown");
    border: 1px solid $primary-low;
    padding: 8px 12px;
    background-color: $secondary;
    width: 300px;
    max-width: 90vw;

    p {
      margin: 5px 0;
    }
  }

  mark {
    background-color: initial;
  }
}

.help-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 1.7em;
  padding: 10px 18px;
  border-radius: 50%;
  box-shadow: shadow("card");
}

/// Civically layout changes

body {
  background-color: #e6ecf0;

  &.admin-interface, &.about-page, &.landing {
    background-color: $secondary;
  }
}

.main-content.has-sidebars div.container.list-container {
  border: none;
  background-color: initial;

  .discovery-title-composer .title-composer:not(.hide-input) {
    border-left: 1px solid $primary-low;
    border-right: 1px solid $primary-low;
    border-top: 1px solid $primary-low;
    border-radius: 4px 4px 0 0;
  }

  #list-area {
    .show-more.has-topics {
      position: initial;
      top: initial;
      padding-top: 10px;

      .alert {
        margin-bottom: 0;
      }
    }

    &> .contents {
      background-color: $secondary;
      border-left: 1px solid $primary-low;
      border-right: 1px solid $primary-low;

      .topic-list {
        margin: 0;

        &>tbody {
          border-top: 1px solid $primary-low;
        }
      }
    }

    &> .topic-list-bottom {
      margin: 0;
      background-color: $secondary;
      border-left: 1px solid $primary-low;
      border-right: 1px solid $primary-low;
      border-bottom: 1px solid $primary-low;
      border-radius: 0 0 4px 4px;
    }
  }
}

.main-content.topic.has-sidebars #topic-title .container div.title-wrapper {
  width: initial;

  .topic-category {
    margin-top: 0;
  }
}

.main-content.calendar {
  background-color: $secondary;
  padding: 10px 20px 20px 20px;

  .nav-dropdown {
    top: 40px;
  }
}

.main-content.place.set {
  background-color: $secondary;
}

section.user-main {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;

  .place-user-controls {
    min-height: initial;
    margin: 0;
  }
}
