.coming-soon {
  display: inline-block;
  position: relative;

  .popover {
    padding: 3px;
    border: 1px solid $primary-medium;
    color: $primary;
    background: $secondary;
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    z-index: 9999;
    padding: 0 5px;
  }
}

.coming-soon span.label {
  font-size: 11px;
  font-style: italic;
}

.about.admins {
  margin-top: 30px;
}

.body-page ul li p {
  font-size: 1em;
}

.btn, .btn-flat, li>a {
  border-radius: 4px;
}
