<div class='display-row'>
  <div class='field'>{{i18n 'team.label'}}</div>
  <div class='value'>{{model.team_member}}</div>
  <div class='controls'>
    {{#if currentUser.admin}}
      {{team-toggle model=model}}
    {{/if}}
  </div>
</div>
